<template>
  <div class="hello">
    <div>
        斤斤计较看了看

    </div>
    
  </div>
</template>

<script>
export default {
  data() {
    return {
     
    };
  },
  
  methods: {
   
  },
};
</script>

<style scoped>

</style>
