 <template>
  <div>
    <!-- 开启顶部安全区适配 -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover"
    />
    <van-nav-bar
      safe-area-inset-top
      :left-arrow="isleftarrow"
      @click-left="onClickLeft"
    >
      <template #title>
        <span style="font-size: 1.0rem">{{ title }}</span>
      </template>
    </van-nav-bar>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isleftarrow: false,
      title:"邓老师"
    };
  },

  methods: {
    onClickLeft() {
      this.$router.go(-1);
    },
  },
};
</script>

<style scoped>
/deep/ .van-nav-bar__text {
  color: black;
}
/deep/ .van-nav-bar__left .van-icon {
  color: black;
}
</style>
